@import 'assets/styles/config';
@import 'assets/styles/button';

$font-size: 16px;
$color: #ffffff;

.nav__container {
  position: relative;
  width: 100%;
  z-index: 999;
}

.nav__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 3rem;
}

.nav__items {
  width: 50%;
  display: flex;
  margin: 0 3rem;
  justify-content: flex-end;
}

.nav__icon {
  width: 30%;
  margin: 1rem 0 0 3rem;
  padding: 0 1rem;
  box-shadow: inset;
  border-radius: 20px;
  display: flex;

  img {
    width: 50px;
    height: 50px;
  }
  h1 {
    margin-left: 1rem;
    color: $green;
    text-transform: uppercase;
    align-items: center;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  heigth: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search__form {
  width: 40%;
  form {
    padding: 1.25rem;
    width: 100%;
    label {
      width: 10%;
    }
    input {
      width: 70%;
      border-radius: 0.5rem 0 0 0.5rem;
      outline: none;
      padding: 1.25rem;

      &:focus,&:hover{
        border: 1px solid $background2;
      }
    }
  }
}



@media screen and (max-width: 992px) {
  .search__form {
    width: 35%;
    form {
      padding: 1.25rem;
      width: 100%;
      label {
        width: 10%;
      }
      input {
        width: 50%;
        border-radius: 0.5rem 0 0 0.5rem;
        outline: none;
        padding: 1.25rem;
      }
      button{
        width: 40%;
      }
    }
  }
}