@import "./config";

$white : white;
$text-size: 17px;

.btn {
  border: none;
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
  background: inherit;
  margin: 1rem 2rem 0 0;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($red-secondary, 0.75);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }

  span {
    position: relative;
    font-size: $text-size;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    color: $white;
  }

  svg {
    font-size: $text-size;
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover {
    &::before {
      width: 100%;
      background: rgba($red-secondary, 1);

      svg {
        transform: translateX(0);
      }
    }
  }

  &:active {
    transform: scale(0.96);
  }
}


.button {
	pointer-events: auto;
	cursor: pointer;
	border: none;
	padding: 1.25rem 3rem;
  color: black;
	margin: 0 auto;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button--mimas {
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-weight: 700;
	font-size: 0.85rem;
	border-radius: 0.5rem;
  border: 2px solid $background2;
	overflow: hidden;
	color: white;
	background: $background;
}

.button--mimas span {
	position: relative;
	mix-blend-mode: difference;
}

.button--mimas:hover {
	filter: brightness(1.4);
}