/*----------------------Color------------------------*/
$red-primary: #A33227;
$red-secondary: #C7493A;
$green: #689775;
$brown: #917164;
$skin: #AD8174;
$background: #151414;
/*----------------------Font-style--------------------*/
$dosis: "Dosis", sans-serif;
/*-----------------------------------------------*/
