@import 'assets/styles/config';
@import 'assets/styles/button';

.book__container {
    width: 80%;
    height: 100%;
    margin: 3rem auto;
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
}

.book__image {
  width: 25%;
  margin-right: 3rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
  }
}

.book__content {
  color: white;
  width: 70%;

  p {
    font-weight: 700;
  }
}

.book__content--link{
  margin-left: 1rem;
  text-decoration: none;
  color: $skin
}

.book__content--description{
    padding: 1rem;
    color: black;
    margin-top: 2rem;
    background: white;
    border-radius: 10px;
    p{
      font-weight: 600;
    }
}

.book__content--score{
    margin-top: 3rem;
}

.book__content--price{
    margin: 2rem 0;
    span{
        margin-left: 1rem;
        color: $gold;
    }
}